In [17]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

student_number = list(range(1, len(students) + 1))
shoe_sizes = np.random.choice(np.arange(6, 14, 0.5), len(students))
side_of_classroom = np.random.choice(['left', 'right'], len(students))
favorite_number = np.random.randint(1, 11, len(students))


studentdf = pd.DataFrame({'name': students,
                   'student_no': student_number,
                   'shoe_sizes': shoe_sizes,
                   'class side': side_of_classroom,
                  'favorite_number': favorite_number})

studentdf[studentdf.class side > 8]

       name  student_no  shoe_sizes class side  favorite_number
0     Sally           1         8.5       left                9
1      Jane           2        10.0       left                9
3     Billy           4        11.5      right                4
6    Thomas           7         9.5      right                7
7     Marie           8         9.0       left                4
8    Albert           9         9.0       left                4
9   Richard          10        13.5      right                5
10    Isaac          11        10.0      right                3

 practise with melting
 reading a csv file

In [ ]:
import pandas as pd
data = '''
apple;3
banana;4
cantelope;16
dragonfruit;1
elderberry;2
'''.strip()

with open('fruits.csv', 'w') as f:
    f.write(data)

In [ ]:
pd.read_csv('fruits.csv', header=None, sep=';')

In [ ]:
df.columns = ['fruits']

practise with melting
 reading a json file

In [3]:
import pandas as pd
data = '''
[
  {"name": "apple", "quantity": 3},
  {"name": "banana", "quantity": 4},
  {"name": "cantelope", "quantity": 16},
  {"name": "dragonfruit", "quantity": 1},
  {"name": "elderberry", "quantity": 2}
]
'''.strip()

with open('fruits.json', 'w') as f:
    f.write(data)

In [4]:
pd.read_json('fruits.json')

          name  quantity
0        apple         3
1       banana         4
2    cantelope        16
3  dragonfruit         1
4   elderberry         2

In [ ]:
# cleanup the test files we created
from os import remove as rm

for file in ('fruits.csv', 'fruits.json'):
    try:
        rm(file)
    except FileNotFoundError:
        pass

In [ ]:
#  sample code to read a file called iris.csv, in some folder called "data" on your pc
path = '/data'
read_csv(path + 'iris.csv')

reading from MySql
install pymysql from terminal,       python -m pip install pymysql

In [ ]:
def get_connection(db, user, host, password)
    from sqlalchemy import create_engine
#       url = f'mysql+mysqlconnection://{user}:{password}:@host/{db}
    return create_engine(url)

In [ ]:
from env import user,host, pw

In [ ]:
conn = get_connection('ada_students', user, host, pw)

In [ ]:
df_sql = pd.read_sql('select students_id, group_id from student_groups where module_id = 5;' ,conn)